:root{
    --logo-color:#5861AE;
    --nav-border:#E3E3E3;
    --footer-background:#182838;
    --header-background:#00000029;
    --signin-part:#a8aff61a;
    --footer-part1:#F8F9FF;
    --description-color:#565657;
    --button-1:#4552C1;
    --signin-background:#8c96f21a;
    --footer-letters:#3D3D43;
}



header{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header #logo_name{
    margin-left: 85px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--logo-color);
}

header #nav_links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
header #nav_links p:hover{
    background-color: #5861AE;
}
#avatar{
    background-color: var(--logo-color);
    color: white;
}
header #nav_links p{
    border-left: 2px solid var(--nav-border);
    height: 7.5vh;
    /* width: 95px; */
    padding:0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
}
